.polaroid-images a {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.polaroid-images a:after {
    font-family: 'Shadows Into Light', cursive;
    color: #333;
    font-size: 40px;
    content: attr(title);
    position: relative;
    top:15px;
}

.polaroid-images img { 
    display: block; 
    width: inherit; 
}

.polaroid-images a:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: grey;
}

.stars img {
    display: inline-block;
    height: 25px;
    width: 25px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    font-style: italic;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}

body {
    background: url(city_purple.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.polaroid-images {
    position: relative;
    left: 170px;
}

.container-fluid {
    position: relative;
    margin: 0px 150px 0px 150px;
}

.icon img {
     height: 20px;
     width: 20px;    
}

#page_title h2 {
    text-align: center;
    font-size: 22px;
}



#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1 important!; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}




.navbar-brand{
    padding-top: 30px;
}

.active img{
    height: 30px;
    width: 30px;
  }

.icon img {
    height: 30px;
    width: 30px;  
}

.icon img:hover {
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}

@keyframes rotation {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.LondonCab {
    padding-top: 50px;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 

nav {
    text-align: center;
} 

a {
    background-color: none;
}
